In [4]:
import json
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client['tweet']
collection_currency = db['tweet']

with open('data.json') as f:
    file_data = json.load(f)

users=[]

for i in file_data:
    users.append(i['user'])
    i['user']=i['user']["id"]
# if pymongo >= 3.0 use insert_many() for inserting many documents
collection_currency.insert_many(file_data)

client.close()

In [5]:
print(users[0])

{'id': 1242817830946508801, 'id_str': '1242817830946508801', 'name': 'juwelz v', 'screen_name': 'juwelz_v', 'location': 'Lower East Side, Manhattan', 'url': 'https://linktr.ee/juwelzv', 'description': 'Event Lyfe LLC .. Brand Ambassador: #visionarysociety Music Manager: @ssizzzlee & @tmoneybeatsbang ProductionðŸŽ¥ðŸ“¸ #BringNyCultureBack ðŸŒŠðŸŒŠðŸŒŠ !!', 'translator_type': 'none', 'protected': False, 'verified': False, 'followers_count': 43, 'friends_count': 118, 'listed_count': 0, 'favourites_count': 722, 'statuses_count': 906, 'created_at': 'Wed Mar 25 14:17:28 +0000 2020', 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': '', 'profile_background_image_url_https': '', 'profile_background_tile': False, 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1246253579805089797/Ks1MrEDW_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1246253579805089797/Ks1MrEDW_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1242817830946508801/1585146985', 'default_profile': True, 'default_profile_image': False, 'following': None, 'follow_request_sent': None, 'notifications': None}

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="135790"
)

mycursor = mydb.cursor()

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE pqr_user")

In [10]:
mycursor.execute("CREATE TABLE pqr_user.tusers (id bigint PRIMARY KEY,name VARCHAR(255), screen_name VARCHAR(255), followers_count int)")

In [19]:
mydb.commit()

In [20]:
used=set()
for user in users:
    sql = "INSERT INTO pqr_user.tusers (id, name, screen_name, followers_count) VALUES ("+str(user['id'])+',"'+ user['name']+'","'+user['screen_name']+'",'+str(user['followers_count'])+")"
    if user['id'] not in used:
        used.add(user['id'])
    else:
        continue
    mycursor.execute(sql)
mydb.commit()

IntegrityError: 1062 (23000): Duplicate entry '1242817830946508801' for key 'tusers.PRIMARY'

In [15]:
print(mycursor.rowcount, "was inserted.")

-1 was inserted.